<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gang.etl.datacenter.mapper.ExpTemplateMapper">
    <resultMap id="BaseResultMap" type="com.gang.etl.datacenter.entity.ExpTemplate">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="template_title" jdbcType="VARCHAR" property="templateTitle"/>
        <result column="template_body" jdbcType="VARCHAR" property="templateBody"/>
        <result column="template_desc" jdbcType="VARCHAR" property="templateDesc"/>
        <result column="template_module" jdbcType="VARCHAR" property="templateModule"/>
        <result column="template_type" jdbcType="VARCHAR" property="templateType"/>
        <result column="create_id" jdbcType="INTEGER" property="createId"/>
        <result column="update_id" jdbcType="INTEGER" property="updateId"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_Date" jdbcType="TIMESTAMP" property="updateDate"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from exp_template
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.gang.etl.datacenter.entity.ExpTemplate">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into exp_template (template_title, template_body, template_desc,
        template_module, template_type, create_id,
        update_id, create_date, update_Date
        )
        values (#{templateTitle,jdbcType=VARCHAR}, #{templateBody,jdbcType=VARCHAR}, #{templateDesc,jdbcType=VARCHAR},
        #{templateModule,jdbcType=VARCHAR}, #{templateType,jdbcType=VARCHAR}, #{createId,jdbcType=INTEGER},
        #{updateId,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}
        )
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.gang.etl.datacenter.entity.ExpTemplate">
    update exp_template
    set template_title = #{templateTitle,jdbcType=VARCHAR},
      template_body = #{templateBody,jdbcType=VARCHAR},
      template_desc = #{templateDesc,jdbcType=VARCHAR},
      template_module = #{templateModule,jdbcType=VARCHAR},
      template_type = #{templateType,jdbcType=VARCHAR},
      create_id = #{createId,jdbcType=INTEGER},
      update_id = #{updateId,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_Date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, template_title, template_body, template_desc, template_module, template_type, 
    create_id, update_id, create_date, update_Date
    from exp_template
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, template_title, template_body, template_desc, template_module, template_type, 
    create_id, update_id, create_date, update_Date
    from exp_template
  </select>

</mapper>